/* Typography */
@font-face {
    font-family: 'futuraptlight';
    src: url('../fonts/futuraptlight.eot');
    src: url('../fonts/futuraptlight.eot') format('embedded-opentype'),
        url('../fonts/futuraptlight.woff2') format('woff2'),
        url('../fonts/futuraptlight.woff') format('woff'),
        url('../fonts/futuraptlight.ttf') format('truetype'),
        url('../fonts/futuraptlight.svg#futuraptlight') format('svg');
}

@font-face {
    font-family: 'futuraptbook';
    src: url('../fonts/futuraptbook.eot');
    src: url('../fonts/futuraptbook.eot') format('embedded-opentype'),
        url('../fonts/futuraptbook.woff2') format('woff2'),
        url('../fonts/futuraptbook.woff') format('woff'),
        url('../fonts/futuraptbook.ttf') format('truetype'),
        url('../fonts/futuraptbook.svg#futuraptbook') format('svg');
}

@font-face {
    font-family: 'futuraptmedium';
    src: url('../fonts/futuraptmedium.eot');
    src: url('../fonts/futuraptmedium.eot') format('embedded-opentype'),
        url('../fonts/futuraptmedium.woff2') format('woff2'),
        url('../fonts/futuraptmedium.woff') format('woff'),
        url('../fonts/futuraptmedium.ttf') format('truetype'),
        url('../fonts/futuraptmedium.svg#futuraptmedium') format('svg');
}



@font-face {
    font-family: 'futuraptheavy';
    src: url('../fonts/futuraptheavy.eot');
    src: url('../fonts/futuraptheavy.eot') format('embedded-opentype'),
        url('../fonts/futuraptheavy.woff2') format('woff2'),
        url('../fonts/futuraptheavy.woff') format('woff'),
        url('../fonts/futuraptheavy.ttf') format('truetype'),
        url('../fonts/futuraptheavy.svg#futuraptheavy') format('svg');
}


@font-face {
    font-family: 'futuraptdemi';
    src: url('../fonts/futuraptdemi.eot');
    src: url('../fonts/futuraptdemi.eot') format('embedded-opentype'),
        url('../fonts/futuraptdemi.woff2') format('woff2'),
        url('../fonts/futuraptdemi.woff') format('woff'),
        url('../fonts/futuraptdemi.ttf') format('truetype'),
        url('../fonts/futuraptdemi.svg#futuraptdemi') format('svg');
}


@font-face {
    font-family: 'JOURNAL';
    src: url('../fonts/JOURNAL.eot');
    src: url('../fonts/JOURNAL.eot') format('embedded-opentype'),
        url('../fonts/JOURNAL.woff2') format('woff2'),
        url('../fonts/JOURNAL.woff') format('woff'),
        url('../fonts/JOURNAL.ttf') format('truetype'),
        url('../fonts/JOURNAL.svg#JOURNAL') format('svg');
}



































































































